coasv.localhost {
    # Serve static files from staticfiles directory
    handle_path /static/* {
        root * /var/lib/docker/volumes/coasv-staticfiles/_data
        file_server
    }

    # Proxy all other requests to Gunicorn
    handle {
        reverse_proxy http://web:8000

    }

    # Access & error logging to stdout
    #log {
    #    output stdout
    #    format console
    #}
}

