http://localhost {
	# Serve static files from staticfiles directory
	handle_path /static/* {
		root /srv/staticfiles/
		file_server
	}

	# Proxy all other requests to Gunicorn
	handle {
		reverse_proxy web:8000
	}

	# Access & error logging to stdout and file
	log {
		output stdout
		format console
	}
	log {
		output file /data/access.log
		format json
	}
}
