services:
  db:
    image: postgres
    volumes:
      - app-database:/var/lib/postgresql
    networks:
      - app-network
    environment:
      - POSTGRES_DB=${COASV_DB_NAME}
      - POSTGRES_USER=${COASV_DB_USER}
      - POSTGRES_PASSWORD=${COASV_DB_PASS}
      - POSTGRES_PORT=${COASV_DB_PORT}

  web:
    build: .
    volumes:
      - staticfiles:/srv/staticfiles:rw
    networks:
      - app-network
    environment:
      - COASV_SECRET_KEY=${COASV_SECRET_KEY}
      - COASV_DEBUG_VALUE=${COASV_DEBUG_VALUE}
      - COASV_DB_HOST=${COASV_DB_HOST}
      - COASV_DB_NAME=${COASV_DB_NAME}
      - COASV_DB_USER=${COASV_DB_USER}
      - COASV_DB_PASS=${COASV_DB_PASS}
      - COASV_DB_PORT=${COASV_DB_PORT}
      - COASV_ALLOWED_HOSTS=${COASV_ALLOWED_HOSTS}
      - COASV_STATIC_ROOT=${COASV_STATIC_ROOT}
    depends_on:
      - db

  caddy:
    build:
      context: .
      dockerfile: Dockerfile.caddy
    restart: unless-stopped
    ports:
      - ${CADDY_PORT:-8000}:80
      - 443:443
      - "443:443/udp"
    volumes:
      - staticfiles:/srv/staticfiles:ro
      - caddy_data:/data
    networks:
      - app-network
    depends_on:
      - web
volumes:
  app-database:
  staticfiles:
  caddy_data:

networks:
  app-network:
