{% extends 'common_base.html'%}


{% block title %}
Ledger -> {{ table.name }}
{% endblock %}

{% block body %}

<table id='id_{{ table.name}}_ledger'>
    <thead>
        <tr>
            <th>
                <h2>
                    {{ table.name }}
                    ({{ table.code}})
                </h2>
            </th>
        </tr>
        <tr>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr>
            <td>{{ row.desc }}</td>
            <td>{{ row.debit }}</td>
            <td>{{ row.credit }}</td>
            <td>{{ row.diff }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td>{{ table.bals.dr_sum }}</td>
            <td>{{ table.bals.cr_sum }}</td>
            <td>{{ table.bals.diff }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}
