<html>
    <head>
        <title>Sales Ledger</title>
        <style>
            table, th, td {
                border: 3px solid pink;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Desc</td>
                    {% for header in table.headers %}
                    <td>{{ header }}</td>
                    {% endfor %}
                    <td>Total Inc</td>
                </tr>
            </thead>
            <tbody>
                {% for tx, row, col_data in table.loaded_rows %}
                <tr>
                    <td>{{ tx }}</td>
                    {% for data in row %}
                    <td>{{ data.cr_sum }}</td>
                    {% endfor %}
                    <td>{{ col_data }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    {% for footer in table.footers %}
                    <td>{{footer.cr_sum}}</td>
                    {% endfor %}
                    <td>{{ table.parent_total.cr_sum }}</td>
                </tr>
            </tfoot>
        </table>
    </body>
</html
