{% extends 'loan_management/base.html' %}
{% block title %}Loans List{% endblock %}
{% block body %}
    {% for loan in loans %}
        {% if loan.status == 'ACTIVE' %}
            <a href="{% url 'loan:loan' loan.id %}">{{ loan }}</a>
        {% endif %}
        {% if loan.status == 'FULLYPAID' or loan.status == 'DEFAULTED' %}
            <a href="{% url 'loan:loan' loan.id %}">{{ loan }}</a>
        {% endif %}
        {% if loan.status == 'PENDING' or loan.status == 'APPROVED' %}
            <a href="{% url 'loan:loan' loan.id %}">{{ loan }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
