{% extends 'common_base.html' %}
{% block common_title %}Loan Detail{% endblock %}
{% block common_body %}
  <div class="p-6">
    <!-- loan header -->
    <div class="flex items-center justify-between border-2 rounded-2xl p-6">
      <h1 class="text-2xl font-medium">Loan {{ loan.id }}. {{ loan.member }}</h1>
      <span class="border-2 rounded-full px-6 py-2">{{ loan.status }}</span>
    </div>
    <!-- summary card -->
    <div class="rounded-4xl mt-6 p-6 border-2">
      <div class="flex justify-between">
        <p>
          <span>Outstanding:</span> <span class="text-sm">{{ loan.amount }}</span>
        </p>
        <p>
          <span>Rate:</span> <span class="text-sm">{{ loan.interest_rate }}</span>
        </p>
        <p>
          <span>Principal:</span> <span class="text-sm">{{ loan.amount }}</span>
        </p>
      </div>
      <div class="flex justify-between mt-4">
        <p>
          <span>Disbursed:</span> <span class="text-sm">{{ loan.disbursed_at }}</span>
        </p>
        <p>
          <span>Started:</span> <span class="text-sm">{{ loan.started_at }}</span>
        </p>
      </div>
      <p class="mt-4">
        <span>Purpose:</span> <span class="text-sm">{{ loan.purpose }}</span>
      </p>
      <!-- action -->
      <div class="flex flex-col items-end mt-6 ">
        {% if loan.status == 'pending' %}
          <form id="confirm-payment-form"
                method='POST'
                action="{% url 'loan:approve' loan.id %}">
            {% csrf_token %}
            <button type="submit"
                    class="border-2 px-12 py-2 rounded-lg text-sm hover:shadow-lg hover:shadow-gray-600 hover:-translate-0.5 transition-all duration-200 cursor-pointer">
              Approve
            </button>
          </form>
        {% endif %}
        {% if loan.status == 'approved' %}
          <form id="confirm-payment-form"
                method='POST'
                action="{% url 'loan:disburse' loan.id %}">
            {% csrf_token %}
            <button type="submit"
                    class="border-2 px-12 py-2 rounded-lg text-sm hover:shadow-lg hover:shadow-gray-600 hover:-translate-0.5 transition-all duration-200 cursor-pointer">
              Disburse
            </button>
          </form>
        {% endif %}
        {% if loan.status == 'active' %}
          <form id="confirm-payment-form"
                method='POST'
                action="{% url 'loan:disburse' loan.id %}">
            {% csrf_token %}
            <button type="submit"
                    class="border-2 px-12 py-2 rounded-lg text-sm hover:shadow-lg hover:shadow-gray-600 hover:-translate-0.5 transition-all duration-200 cursor-pointer">
              Payment
            </button>
          </form>
        {% endif %}
      </div>
    </div>
    <!-- payment history -->
    <div class="border-2 rounded-4xl mt-6 p-6 overflow-x-auto">
      <table class="min-w-full">
        <thead>
          <tr class="divide-x-2">
            <th class="p-4">Date</th>
            <th class="p-4">Type</th>
            <th class="p-4">Amount</th>
            <th class="p-4">Period Start</th>
            <th class="p-4">Period End</th>
            <th class="p-4">Transaction</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for ph in payment_history %}
            <tr class="divide-x-2 rounded-full hover:shadow-lg hover:shadow-gray-600 hover:-translate-0.5 transition-all duration-200">
              <td class="p-4">{{ ph.date }}</td>
              <td class="p-4">{{ ph.type }}</td>
              <td class="p-4">{{ ph.amount }}</td>
              <td class="p-4">{{ ph.period_start }}</td>
              <td class="p-4">{{ ph.period_end }}</td>
              <td class="p-4">{{ ph.transaction }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
