{% extends 'common_base.html' %}
{% block common_title %}Create Sale{% endblock %}
{% block common_body %}
  <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"
             for="{{ form.item.id_for_label }}">
        <i class="fas fa-box mr-2"></i>Item
      </label>
      {{ form.item }}
      {% if form.item.errors %}<p class="text-red-500 text-xs italic mt-1">{{ form.item.errors }}</p>{% endif %}
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2"
             for="{{ form.quantity.id_for_label }}">
        <i class="fas fa-balance-scale mr-2"></i>Quantity
      </label>
      {{ form.quantity }}
      {% if form.quantity.errors %}<p class="text-red-500 text-xs italic mt-1">{{ form.quantity.errors }}</p>{% endif %}
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
        <i class="fas fa-cash-register mr-2"></i>Create Sale
      </button>
    </div>
  </form>
{% endblock %}
