{% extends 'common_base.html' %}
{% block common_title %}
    Data Entry ->
    {% block title %}{% endblock %}
{% endblock %}
{% block common_css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}
{% block common_body %}
    <div id="ledgers-secondary-nav"
         class=" flex bg-gray-900 text-white p-4 mb-8 font-bold">
        <a class="p-4" href='{% url "data_entry:general_journal" %}'>General Journal</a>
    </div>
    {% block body %}{% endblock %}
{% endblock %}
