{% extends 'common_base.html' %}


{% block common_title %}
Data Entry
{% endblock %}
{% block common_head %}
{{ tx_form.media }}
{% endblock %}

{% block common_body %}

        <form method='POST' action='{% url "data_entry:general_journal" %}'>
            <table>
            {{ sp_form.as_table }}
            {% csrf_token %}
            </table>
        </form>

        <form method='POST' action='{% url "data_entry:save_transaction" %}'>
            <!-- <input id='id_desc'name='desc' type='textarea'> -->
            {{ tx_form.as_p }}
            {% csrf_token %}
            <button id='id_submit'name='submit' type='submit'>
                Submit
            </button>
        </form>

        <form method='POST' action='{% url "data_entry:cancel_transaction" %}'>
            <button id='id_cancel_tx' name='cancel_tx' type='submit'>
                Cancel Transaction
            </button>
            {% csrf_token %}
        </form>

        <!-- Wrapping table start-->
        <table id='id_table_splits'>
            <thead>
                <tr>

        <!-- Dr table -->
                    <th>
                        <table id='id_dr_splits'>
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    <th>Split Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for sp in splits %}
                                <tr>
                                    {% if sp.t_sp == 'dr' %}
                                    <td>{{ sp.ac_code}}</td>
                                    <td>{{ sp.t_sp }}</td>
                                    <td>{{ sp.am}}</td>

                                    {% else %}
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </th>

        <!-- Cr table -->
                    <th>
                        <table id='id_cr_splits'>
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    <th>Split Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for sp in splits %}
                                <tr>
                                    {% if sp.t_sp == 'cr' %}
                                    <td>{{ sp.ac_code }}</td>
                                    <td>{{ sp.t_sp }}</td>
                                    <td>{{ sp.am }}</td>

                                    {% else %}
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </th>

            </thead>

            <tfoot>
                <tr>
                    <td>Debit sum: {{ session_bals.dr_sum }}</td>
                    <td>Credit sum: {{ session_bals.cr_sum }}</td>
                </tr>
                <tr>
                    <td>Difference: {{ session_bals.diff }}</td>
                </tr>
            </tfoot>

        </table>
    <!-- end Wrapping table -->
    </body>

</html>

{% endblock %}
