{% extends 'fs/base.html' %}
{% block title %}BalanceSheet{% endblock %}
{% block body %}
    <div class="container mx-auto">
        <div class="bg-white shadow-lg rounded-md p-6">
            <table class="w-full border-collapse">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border border-yellow-900 px-4 py-2 text-left">Ac Name</th>
                        <th class="border border-yellow-900  px-4 py-2 text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-gray-400">
                        <td class="px-4 py-2 text-center font-semibold" colspan="2">Liabilities</td>
                    </tr>
                    {% for ac in li_acs %}
                        {% for ca in ac.children %}
                            <!-- liabilities child accounts -->
                            <tr class="bg-gray-100">
                                <td class="border px-4 py-2">&emsp; {{ ca.ac.name }} ({{ ca.ac.code }})</td>
                                <td class="border px-4 py-2 text-right">{{ ca.bal.diff }}</td>
                            </tr>
                        {% endfor %}
                        <!-- liabilities parent accounts -->
                        <tr>
                            <td class="border px-4 py-2">PA: {{ ac.ac.name }} ({{ ac.ac.code }})</td>
                            <td class="border px-4 py-2 text-right">{{ ac.bal.diff }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="bg-yellow-100">
                        <td class="px-4 py-2">Total Liabilities</td>
                        <td class="px-4 py-2 text-right">{{ li_total_bal.diff }}</td>
                    </tr>
                    <tr class="bg-gray-400">
                        <td class="px-4 py-2 text-center font-semibold" colspan="2">Assets</td>
                    </tr>
                    {% for ac in as_acs %}
                        {% for ca in ac.children %}
                            <!-- assets child accounts -->
                            <tr class="bg-gray-100">
                                <td class="border px-4 py-2">&emsp;{{ ca.ac.name }} ({{ ca.ac.code }})</td>
                                <td class="border px-4 py-2 text-right">{{ ca.bal.diff }}</td>
                            </tr>
                        {% endfor %}
                        <!-- liabilities parent accounts -->
                        <tr>
                            <td class="border px-4 py-2">PA: {{ ac.ac.name }} ({{ ac.ac.code }})</td>
                            <td class="border px-4 py-2 text-right">{{ ac.bal.diff }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="bg-yellow-100">
                        <td class="px-4 py-2">Total Assets</td>
                        <td class="px-4 py-2 text-right">{{ as_total_bal.diff }}</td>
                    </tr>
                </div>
            </div>
        {% endblock %}
