{% extends 'common_base.html' %}
{% block common_title %}
    Statements ->
    {% block title %}{% endblock %}
{% endblock %}
{% block common_body %}
    <div id="secondary-nav"
         class="flex bg-gray-900 text-white p-4 mb-8 font-bold w-full">
        <a class="hover:bg-gray-700 rounded-md p-4 transition duration-200"
           href='{% url "fs:trial_balance" %}'>Trial Balance</a>
        <br>
        <a class="hover:bg-gray-700 rounded-md p-4 transition duration-200"
           href='{% url "fs:balance_sheet" %}'>BalanceSheet</a>
        <br>
        <a class="hover:bg-gray-700 rounded-md p-4 transition duration-200"
           href='{% url "fs:income_statement" %}'>Income Statement</a>
        <br>
    </div>
    {% block body %}{% endblock %}
{% endblock %}
