{% extends 'fs/base.html' %}
{% block title %}Trial Balance{% endblock %}
{% block body %}
    <div class="container mx-auto">
        <div class="bg-white shadow-lg rounded-lg mb-12">
            <!-- date filter row -->
            <div class="prose p-4 mb-6">
                <h1>Trial Balance</h1>
                <form method="get" class="flex flex-wrap items-end gap-4">
                    <div>
                        <label for="{{ form.start_date.id_for_label }}"
                               class="block mb-1 text-sm font-medium text-gray-700">Start Date:</label>
                        <input type="date" id="{{ form.start_date.id_for_label }}" name="{{ form.start_date.html_name }}" {{ form.start_date.field.required|yesno:"required," }} class="px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" value="{{ form.start_date.value|date:'Y-m-d'|default:form.start_date.value }}">
                        {% if form.start_date.errors %}
                            {% for error in form.start_date.errors %}<p class="mt-1 text-sm text-red-600">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <label for="{{ form.end_date.id_for_label }}"
                               class="block mb-1 text-sm font-medium text-gray-700">End Date:</label>
                        <input type="date" id="{{ form.end_date.id_for_label }}" name="{{ form.end_date.html_name }}" {{ form.end_date.field.required|yesno:"required," }} class="px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" value="{{ form.end_date.value|date:'Y-m-d'|default:form.end_date.value }}">
                        {% if form.end_date.errors %}
                            {% for error in form.end_date.errors %}<p class="mt-1 text-sm text-red-600">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit"
                                name="filter"
                                class="inline-block mr-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            Filter
                        </button>
                        <a href="{% url 'fs:trial_balance' %}"
                           class="inline-block no-underline px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                            Reset
                        </a>
                    </div>
                </form>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full border-collapse prose divide-y">
                    <thead>
                        <tr class="bg-gray-200 divide-x">
                            <th class="px-4 py-2 text-left min-w-96">Account Name</th>
                            <th class="px-4 py-2 text-right min-w-28">Debit</th>
                            <th class="px-4 py-2 text-right min-w-28">Credit</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y">
                        {% for account in trial_balance.accounts %}
                            <tr class="{% cycle 'bg-white' 'bg-gray-100' %} divide-x hover:bg-gray-300">
                                <td class="px-4 py-2">{{ account.account.name }} ({{ account.account.code }})</td>
                                {% if account.balance.net_balance < 0 %}
                                    <td class="px-4 py-2 text-right bg-red-100">{{ account.balance.net_debit|default_if_none:'' }}</td>
                                    <td class="px-4 py-2 text-right bg-red-100">{{ account.balance.net_credit|default_if_none:'' }}</td>
                                {% else %}
                                    <td class="px-4 py-2 text-right">{{ account.balance.net_debit|default_if_none:'' }}</td>
                                    <td class="px-4 py-2 text-right">{{ account.balance.net_credit|default_if_none:'' }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="divide-x bg-yellow-100">
                            <td class="px-4 py-2 bg-yellow-50 min-w-96">Total:</td>
                            <td class="px-4 py-2 text-right min-w-28">{{ trial_balance.total_net_debit }}</td>
                            <td class="px-4 py-2 text-right min-w-28">{{ trial_balance.total_net_credit }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
